
SoomlaAndroidExample/.idea/
SoomlaAndroidExample/out/
SoomlaAndroidExample/gen/

SoomlaAndroidStore/.idea/
SoomlaAndroidStore/out/
SoomlaAndroidStore/gen/

SoomlaAndroidStoreTest/.idea/
SoomlaAndroidStoreTest/out/
SoomlaAndroidStoreTest/gen/


