[submodule "SoomlaAndroidStore/assets"]
	path = SoomlaAndroidStore/assets
	url = git@github.com:gurdotan/Soomla-Generator.git
[submodule "SoomlaAndroidExample/assets"]
	path = SoomlaAndroidExample/assets
	url = git@github.com:gurdotan/Soomla-Generator.git
